@charset "UTF-8";
.content {
    background-color: #fff;
    padding: 15px 0;
}
.course-intro {
    color: #555;
    line-height: 150%;
    padding-top: 10px;
}
.thumbnail > img, .thumbnail a > img {

}


















