@charset "UTF-8";
.content {
    padding: 20px 30px;
    background: #fff;
    margin-bottom: 15px;
    position: relative;
}
.article-title {
    margin-bottom: 10px;
    color: #444;
    font-size: 1.5em;
}
.article-like {
    background: #e94c4c none repeat scroll 0 0;
    color: #fff;
    cursor: pointer;
    font-size: 14px;
    height: 45px;
    padding-top: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 45px;
}
.article-like span {
    display: block;
    font-size: 12px;
}
.article-like:hover span {
    font-size: 14px;
    font-weight:bold;;
}
.article-content {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    overflow: hidden;
}
.article-content img {
    max-width: 100%;
}
.article-record {
    border-bottom: 1px solid #eee;
    margin-bottom: 15px;
    font-size: 0.9em;
    color: #888;
}
.article-record span {
    margin-right: 5px;
}
.article-reward {
    padding: 20px;
}
.article-reward a {
    display: inline-block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    line-height: 100px;
}
.article-source {
    margin: 35px 0;
    background: #E0E0E0;
    padding: 5px 0;
}
.bdsharebuttonbox {
    clear: both;
    margin-top: 5px;
}
.nav-tabs a:focus {
    outline:none;
}
.comment-details {
    padding: 10px 10px 0 10px;
    margin-top: 15px;
    border-bottom: 1px dashed #ccc;
}
.comment-face {

}
.comment-face img {
    width: 45px;
    height: 45px;
}
.comment-account {
    margin-bottom: 5px;
}
.comment-content,.comment-other {
    font-size: 14px;
    line-height: 1.5em;
    margin: 0.5em 0;
    word-wrap: break-word;
    color: #666;
}
.comment-other a {
    font-size: 12px;
    background-color: transparent;
    color: #999;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.15s linear 0s;
    margin-left: 10px;
}
.comment-page {

}
.comment-user-other {
    color: #96CDCD;
    font-size: 12px;
}
.comment-signature {
    color: #8B6914;
    font-size: 12px;
}




























@media(max-width:767px) {

}